<div class="w-full border-b border-[#C8C8C8] py-3">
    <div class="container flex items-center">
        <div class="logo-wrapper flex-1">
            <a href="#" class="logo text-[#222] font-bold text-2xl">Flavor<span class="text-[#E6A11B]">Share</span></a>
        </div>
        <ul class="item-links flex-2 flex justify-center items-center">
            <li class="li item mx-6 capitalize font-bold"><a routerLink="/" class="item-link hover:text-[#E6A11B] transition-all">recepies</a></li>
        </ul>
        <div class="auth-links flex-1 flex justify-end">
            <a href="#" class="auth-login py-2 px-8 bg-[#E6A11B] font-bold capitalize border border-[#E6A11B] rounded transition-all hover:bg-white">login</a>
        </div>
    </div>
</div>