<div class="container">
    <div class="grid grid-cols-12 gap-8 my-5">
        <div class="col-span-3" *ngFor="let responseRecipe of recipes">
            <app-recipe-card [recipe]="responseRecipe"></app-recipe-card> 
        </div>
        <!-- <div class="col-span-3">
            <app-recipe-card></app-recipe-card> 
        </div>
        <div class="col-span-3">
            <app-recipe-card></app-recipe-card> 
        </div>
        <div class="col-span-3">
            <app-recipe-card></app-recipe-card> 
        </div>
        <div class="col-span-3">
            <app-recipe-card></app-recipe-card> 
        </div> -->
         
        <!-- <app-recipe-card></app-recipe-card>      
        <app-recipe-card></app-recipe-card>      
        <app-recipe-card></app-recipe-card>      
        <app-recipe-card></app-recipe-card>       -->
    </div>
</div>