
<app-section-heading></app-section-heading>
<div class="py-8">
    <div class="container">
        <div class="recipe-details-wrapper grid grid-cols-12 gap-8">
            <div class="col-span-6">
                <img src="/assets/recipe.jpg" alt="pizza el calzone" class="rounded-2xl w-full">
            </div>
            <div class="col-span-6">
                <div class="gradiants">
                    <h3 class="text-2xl capitalize font-bold mb-2">gradiants:</h3>
                    <ul class="list-disc grid gap-x-8 grid-cols-2 ml-10">
                        <li>gradiant 1</li>
                        <li>gradiant 2</li>
                        <li>gradiant 3</li>
                        <li>gradiant 4</li>
                        <li>gradiant 5</li>
                        <li>gradiant 6</li>
                    </ul>
                </div>
                <div class="preparation-method mt-5">
                    <h3 class="text-2xl capitalize font-bold mb-2">preparation mathod:</h3>
                    <div class="step my-3">
                        <h3 class="text-lg capitalize font-bold mb-2">step 1:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione magni non cupiditate earum repellat id minus enim dolorem laboriosam explicabo.</p>
                    </div>
                    <div class="step my-3">
                        <h3 class="text-lg capitalize font-bold mb-2">step 1:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione magni non cupiditate earum repellat id minus enim dolorem laboriosam explicabo.</p>
                    </div>
                    <div class="step my-3">
                        <h3 class="text-lg capitalize font-bold mb-2">step 1:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione magni non cupiditate earum repellat id minus enim dolorem laboriosam explicabo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

